.figure {
    width: 50px;
    height: 100%;
}

.card-header {
    background: aliceblue;
}

.card-heading {
    color: #37517e;
    text-align: center;
}

.inside {
    position: relative;
    top: 40px;
    min-height: 90vh;
}

.card-main {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.text-justify {
    text-align: justify;
}


.table-header {
    --bs-table-color: #fff;
    --bs-table-bg: #3d4d6a;
}

.icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: .375rem;
    width: 3rem;
    height: 3rem;
}

.text-lg {
    font-size: 1.25rem !important;
}

.member-details .wrapper {
    display: block;
}

#detailsModal .modal-body {
    padding: 0;
}

.member-details .close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.member-details .left {
    width: 100%;
    background: linear-gradient(to right, #283a5a, #00b5d0);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

    .member-details .left img {
        border-radius: 5px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }

@media only screen and (max-width: 995px) {
    .member-details .left img {
        width: 100px;
        height: 100px;
    }
}


.member-details .left h4 {
    margin: 12px 0;
    font-size: 30px;
    font-weight: 600;
}

.member-details .left p {
    font-size: 15px;
    font-weight: 500;
}

.member-details .right {
    width: 100%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .member-details .right .info,
    .member-details .right .projects {
        margin-bottom: 25px;
    }

        .member-details .right .info .heading,
        .member-details .right .projects .heading {
            margin-bottom: 15px;
            padding-bottom: 5px;
            border-bottom: 1px solid #e0e0e0;
            color: #353c4e;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
        }

    .member-details .right .info_data,
    .member-details .right .projects_data {
        display: flex;
        justify-content: space-between;
    }

        .member-details .right .info_data .data,
        .member-details .right .projects_data .data {
            width: 45%;
        }

            .member-details .right .info_data .data h6,
            .member-details .right .projects_data .data h6 {
                color: #353c4e;
                margin-bottom: 3px;
                overflow-wrap: break-word;
            }

            .member-details .right .info_data .data p,
            .member-details .right .projects_data .data p {
                font-size: 13px;
                margin-bottom: 10px;
                color: #919aa3;
            }



.admin-pic img {
    width: 40px;
}

.navmenu .dropdown-menu a {
    color: #3c4c6a;
}

.navmenu .dropdown-menu li:hover {
    background: #f0f0f099;
}

.upi-image {
    width: 250px;
}

.sponsored-by {
    font-size: 18px !important;
}

    .sponsored-by .text-green {
        /*color: #00ff8e;*/
        color: #00beff;
        font-weight: 700;
    }

.wlcm-logo {
    width: 70px;
    position: absolute;
}

.wlcm-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.welcome-to {
    font-size: 22px;
}

.shibli {
    color: #00796B;
    font-size: 30px;
}

.brainiac {
    font-size: 35px;
    font-weight: 800;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rgst-opn {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    background: #68CF00;
    background: linear-gradient(to top left, #68CF00 0%, #00ADCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
    .shibli {
        font-size: 22px;
        margin-top: 10px;
    }

    .brainiac {
        font-size: 30px;
    }

    .rgst-opn {
        font-size: 25px;
        margin-bottom: 3px;
    }
}

.quiztime-img {
    width: 130px;
}


.sponsor-name {
    font-weight: 700;
    color: darkgreen;
    font-size: 16px;
}

.insta-img {
    width: 130px;
}
