@model LoginViewModel

<!-- Register Section -->
<section id="register" class="section inside">
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-main mt-2">
                        <div class="card-header">
                            <h4>Admin Login</h4>
                        </div>
                        <div class="card-body pb-5">
                            <div class="row gy-4">
                                <div class="col-md-12">
                                    <label for="email" class="pb-2">Email<i class="text-danger">*</i></label>
                                    <input type="email" class="form-control" id="email" asp-for="Email" placeholder="Enter Email" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="pwd" class="pb-2">Password<i class="text-danger">*</i></label>
                                    <input type="password" class="form-control" id="pwd" asp-for="Password" placeholder="Enter Password" required>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>