@model AllamaShibliQuiz.Models.ViewModels.TeamViewModel

<!-- Register Section -->
<section id="register" class="section inside">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Add New Team Member</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="TeamAddOrEdit" method="post" enctype="multipart/form-data" onsubmit="disableSubmitButton()" autocomplete="off">
                            <div class="row gy-4">
                                <div class="col-12">
                                    <h6 class="text-danger mb-0">
                                        Important Note: Fields marked with * are mandatory.
                                    </h6>
                                </div>
                                @{
                                    var today = DateTime.Now.ToString("yyyy-MM-dd");
                                }
                                <div class="col-md-6">
                                    <label for="name" class="pb-2">Full Name<i class="text-danger">*</i></label>
                                    <input type="text" id="name" asp-for="FullName" class="form-control" placeholder="Enter Full Name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="role" class="pb-2">Role<i class="text-danger">*</i></label>
                                    <select class="form-select" id="role" asp-for="Role" required>
                                        <option selected value="0">Select Role</option>
                                        <option value="President">President</option>
                                        <option value="Vice President">Vice President</option>
                                        <option value="Secretary">Secretary</option>
                                        <option value="General Secretary">General Secretary</option>
                                        <option value="Computer Operator">Computer Operator</option>
                                        <option value="Finance Head">Finance Head</option>
                                        <option value="Member">Member</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="father" class="pb-2">Father’s Name<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" asp-for="FatherName" id="father" placeholder="Enter Father’s Name" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="mobile" class="pb-2">Mobile Number<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" maxlength="10" onkeypress="return isNumber(event)" asp-for="MobileNumber" id="mobile" placeholder="Enter Mobile Number" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="whatsappNumber" class="pb-2">Whatsapp Number<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" id="whatsappNumber" maxlength="10" onkeypress="return isNumber(event)" asp-for="WhatsappNumber" placeholder="Enter Whatsapp Number" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="aadhar" class="pb-2">Aadhar Number<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" id="aadhar" maxlength="12" onkeypress="return isNumber(event)" asp-for="AadharNumber" placeholder="Enter Aadhar Number" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="pb-2">EmailId<i class="text-danger">*</i></label>
                                    <input type="email" class="form-control" id="email" asp-for="EmailId" placeholder="Enter EmailId" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="address" class="pb-2">Permanent Address<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" id="address" asp-for="PermanentAddress" placeholder="Enter Permanent Address" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="higherQualification" class="pb-2">Higher Qualification<i class="text-danger">*</i></label>
                                    <input type="text" class="form-control" id="higherQualification" asp-for="HigherQualification" placeholder="Enter Higher Qualification" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="additionalQualification" class="pb-2">Additional Qualification</label>
                                    <input type="text" class="form-control" id="address" asp-for="AdditionalQualification" placeholder="Enter Additional Qualification">
                                </div>
                                <div class="col-md-6">
                                    <label for="otherSkills" class="pb-2">Other Skills</label>
                                    <input type="text" class="form-control" id="otherSkills" asp-for="OtherSkills" placeholder="Enter Other Skills">
                                </div>
                                <div class="col-md-6">
                                    <label for="teachingExperience" class="pb-2">Teaching Experience</label>
                                    <input type="text" class="form-control" id="teachingExperience" asp-for="TeachingExperience" placeholder="Enter Teaching Experience">
                                </div>
                                <div class="col-md-6">
                                    <label for="currentSchoolName" class="pb-2">Current School Name</label>
                                    <input type="text" class="form-control" id="otherSkills" asp-for="CurrentSchoolName" placeholder="Enter Current School Name">
                                </div>
                                <div class="col-md-6">
                                    <label for="joiningDate" class="pb-2">Joining Date<i class="text-danger">*</i></label>
                                    <input type="date" class="form-control" max="@today" id="joiningDate" asp-for="JoiningDate" placeholder="Enter Joining Date">
                                </div>
                                <div class="col-md-6">
                                    <label for="joiningDate" class="pb-2">Member Photo</label>
                                    <input type="file" class="form-control" id="memberPhoto" asp-for="Image">
                                    @if (Model != null && Model.ImageName != null)
                                    {
                                        <p>@Model.ImageName</p>
                                    }
                                </div>
                                <div class="col-md-6">
                                    @if (Model != null && Model.ImageName != null)
                                    {
                                        <img src="data:@Model.ContentType;base64,@Model.ImageBase64" width="100" height="100" alt="@Model.FullName" />
                                    }
                                </div>
                                <div class="col-md-12">
                                    @if (Model == null || Model.Id == 0)
                                    {
                                        <button type="submit" id="submitButton" class="btn btn-primary">Add</button>
                                    }
                                    else
                                    {
                                        <button type="submit" id="submitButton" class="btn btn-warning">Update</button>
                                    }
                                    <a asp-action="Team" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>