<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Allama Shibli Nomani Brainiac Battle</title>
    <meta name="description" content="Allama Shibli Nomani Brainiac Battle is an quiz competition website. You can register yourself from here." />
    <meta name="keywords" content="Allama Shibli Nomani Brainiac Battle, asnbb, quiz competition, General Knowledge, Azamgarh, Allama Shibli Nomani, Registration" />

    <!-- Favicons -->
    <link href="~/assets/img/logo.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/datatable/datatables.min.css" rel="stylesheet" />
    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
    <link href="~/assets/vendor/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

</head>
@{
    var controllerName = (string)ViewContext.RouteData.Values["controller"];
    var methodName = (string)ViewContext.RouteData.Values["Method"];
    var dynamicClass = controllerName == "Home" ? "" : "blue";
}

<body class="index-page">
    <header id="header" class="header @dynamicClass d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="/" class="logo d-flex align-items-center me-auto">
                <img src="~/assets/img/logo.png" alt="">
            </a>
            <nav id="navmenu" class="navmenu">
                <ul class="nav-ul">
                    @if (controllerName.Contains("Admin") && User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Admin" asp-action="Dashboard" class="">Dashboard</a></li>
                        <li><a asp-controller="Admin" asp-action="Team">Team Members</a></li>
                        <li>
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="admin-pic">
                                    <img src="~/assets/img/admin.png" />
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Admin Logged-in</a></li>
                                <li><a asp-controller="Admin" asp-action="Logout">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else if (!controllerName.Contains("Admin"))
                    {
                        <li><a href="/" class="">Home</a></li>
                        <li><a href="/#about">Vision</a></li>
                        <li><a href="/#aboutshibli">Allama Shibli Nomani</a></li>
                        <li><a href="/#team">Team</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    }
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            @if (!controllerName.Contains("Admin"))
            {
                <a asp-controller="AdmitCard" asp-action="Index" class="btn-getstarted">Admit Card</a>
            }

        </div>
    </header>

    <div class="main">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="container copyright mt-4">
            <div class="row">
                <div class="col-sm-6">
                    <p>Allama Shibli Nomani Brainiac Battle</p>
                    <div class="credits">
                        Organized by <a href="https://www.instagram.com/shibli_brainiac_battle?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Team Brainiac Battle</a>
                    </div>
                    <div class="credits">
                        Sponsored by <a href="https://maps.app.goo.gl/3iB11hjSxkBd6dLX7" target="_blank">M.I. Naseerul Uloom, Khutahna, Sanjarpur, Azamgarh</a>
                    </div>
                </div>
                <div class="col-sm-6 text-end">
                    <p>© <span>Copyright</span> <strong class="px-1 sitename">ASNBB</strong> <span>All Rights Reserved</span></p>
                    <div class="credits">
                        Designed & Developed by <a href="https://www.linkedin.com/in/mohd-arif-705985135/" target="_blank">Mohd Arif</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>


    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>


    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/datatable/datatables.min.js"></script>
    <script src="~/assets/vendor/sweetalert/sweetalert2.all.min.js"></script>


    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (ViewBag.AlertMessage != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                var para = document.createElement("p");
                para.innerHTML = "@Html.Raw(ViewBag.AlertMessage.Message)";
                if ("@ViewBag.AlertMessage.Type" == "Error") {
                    Swal.fire({
                        icon: "error",
                        title: "Please verify..",
                        html: para
                    });
                }
                else if ("@ViewBag.AlertMessage.Type" == "Success") {
                    Swal.fire({
                        icon: "success",
                        title: "Success",
                        html: para
                    });
                }
            };
        </script>
    }
</body>
</html>
