@{
    ViewData["Title"] = "";
}

<!-- Main Section -->
<section id="hero" class="hero section">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1>Allama Shibli Nomani Brainiac Battle</h1>
                <p>
                    Organized By - <span class="text-green">Moaz Bin Jabal Public School, Mohammadpur</span>
                </p>
                <p class="text-justify">
                    <span id="typeWriterText"></span>
                    @* An engaging and challenging platform for students to showcase their academic knowledge,
                    critical thinking skills, and creativity *@
                </p>
                <div class="d-flex">
                    <a asp-controller="Register" asp-action="Index" class="btn-get-started">Register</a>
                    <a href="https://youtu.be/PlD3XSF8_uI?si=C6vcARyQ2QKFUaWW" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-2 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <div class="toppers">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-heading">Our Top Performers in ASNBB-2023</h3>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="row g-2 mb-2">
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_1.jpg" class="figure" />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_2.jpg" class="figure" />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_1.jpg" class="figure" />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_1.jpg" class="figure" />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_2.jpg" class="figure" />
                                    </div>
                                    <div class="col-md-4 col-6">
                                        <img src="~/assets/img/toppers/img_1.jpg" class="figure" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /Main Section -->
<!-- About Section -->
<section id="about" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Vision</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 content text-justify" data-aos="fade-up" data-aos-delay="100">
                <p>
                    A premier quiz competition designed to honor the legacy of one of the most distinguished scholars of the modern era, Allama Shibli Nomani.
                    This event not only celebrates the pursuit of knowledge but also aims to inspire students by highlighting the life and contributions of
                    Allama Shibli Nomani.
                </p>
                <p>
                    The Allama Shibli Nomani Brainiac Battle aims to inspire and challenge participants by creating an environment that promotes
                    learning, critical thinking, and teamwork. We believe in the power of knowledge to transform lives and shape future leaders.
                </p>

            </div>

            <div class="col-lg-6 content text-justify" data-aos="fade-up" data-aos-delay="200">
                <p>
                    The Allama Shibli Nomani Brainiac Battle aims to inspire and challenge participants by creating an environment that promotes learning,
                    critical thinking, and teamwork, all while honoring the scholarly spirit of Allama Shibli Nomani. We believe in the power of knowledge
                    to transform lives and shape future leaders.
                </p>
                <p>
                    We envision a world where curiosity is encouraged, intellectual pursuits are celebrated, and the thirst for knowledge knows no bounds.
                    Through our quiz competition, we strive to create a platform that not only tests but also expands the horizons of our participants, in the same way
                </p>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
<!-- About ShibliNomani Section -->
<section id="aboutshibli" class="about section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Allama Shibli Nomani</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 order-2 order-lg-1 content text-justify" data-aos="fade-up" data-aos-delay="100">
                <p>
                    Allama Shibli Nomani (4 June 1857 – 18 November 1914) was an Islamic scholar, poet, philosopher, historian, educational thinker, author, orator, reformer and critic of orientalists from Indian subcontinent during the British Raj.
                </p>
                <p>
                    He is regarded as the father of Urdu historiography. He was also proficient in Arabic and Persian languages. Shibli was associated with two influential movements in the region, the Aligarh and the Nadwa movements.
                </p>
                <p>
                    As a supporter of the Deobandi school, he believed that English language and European sciences should be incorporated into the education system. Shibli wrote several biographies of Muslim heroes, convinced that Muslims of his time could learn valuable lessons from the past.
                </p>
                <p>
                    Shibli established the Darul Musannefin Shibli Academy in 1914 to promote Islamic scholarship and also founded the Shibli National College in
                    1883. He collected much material on the life of Muhammad, and completed the first two volumes of the planned work, Sirat al-Nabi.
                    His disciple, Sulaiman Nadvi, added to this material and wrote the remaining five volumes after Shibli's death.
                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="~/assets/img/shibli_nomani.jpeg" class="shibli-nomani-img w-50" />
            </div>

        </div>

    </div>

</section><!-- /About ShibliNomani Section -->
<!-- Syllabus Section -->
<section id="syllabus" class="skills faq-2 section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Syllabus</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="faq-container">
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Class - 6<sup>th</sup> to 8<sup>th</sup></h3>
                        <div class="faq-content">
                            <div class="skills-content skills-animation">
                                <div class="progress">
                                    <span class="skill"><span>Science</span> <i class="val">20 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Maths</span> <i class="val">20 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>SST</span> <i class="val">20 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Eng. Grammar</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Islamic History</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Shibli Nomani Bio.</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Azamgarh History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>GK & GS</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                            </div>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="faq-container">
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Class - 9<sup>th</sup> & 10<sup>th</sup></h3>
                        <div class="faq-content">
                            <div class="skills-content skills-animation">
                                <div class="progress">
                                    <span class="skill"><span>Maths</span> <i class="val">20 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Chemistry</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Biology</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Physics</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->


                                <div class="progress">
                                    <span class="skill"><span>Geography</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Political Science</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Economics</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Eng. Grammar</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Reasoning</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Azamgarh History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Shibli Nomani Bio.</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->


                            </div>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="faq-container">
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Class - 11th & 12th (Science)</h3>
                        <div class="faq-content">
                            <div class="skills-content skills-animation">
                                <div class="progress">
                                    <span class="skill"><span>Chemistry</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Physics</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Biology/Maths</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Reasoning</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Allama Shibli Nomani Bio.</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Current Affair</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Azamgarh History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                            </div>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="faq-container">
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Class - 11th & 12th (Humanities)</h3>
                        <div class="faq-content">
                            <div class="skills-content skills-animation">
                                <div class="progress">
                                    <span class="skill"><span>History</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Geography</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Political Science</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Reasoning</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Allama Shibli Nomani Bio.</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Current Affair</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Azamgarh History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                            </div>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
            <div class="col-lg-4 pt-4 pt-lg-0 content">
                <div class="faq-container">
                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Class - 11th & 12th (Commerce)</h3>
                        <div class="faq-content">
                            <div class="skills-content skills-animation">
                                <div class="progress">
                                    <span class="skill"><span>Business Studies</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Accountancy</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Economics</span> <i class="val">25 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Reasoning</span> <i class="val">10 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Allama Shibli Nomani Bio.</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->

                                <div class="progress">
                                    <span class="skill"><span>Current Affair</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                                <div class="progress">
                                    <span class="skill"><span>Azamgarh History</span> <i class="val">5 Marks</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div><!-- End Skills Item -->
                            </div>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->
                </div>
            </div>
        </div>

    </div>

</section><!-- /Skills Section -->
<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Image Gallery</h2>
        <p>Here are some memorable moments from past ASNBB</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-exam">Exam Day</li>
                <li data-filter=".filter-prize">Prize Distribution</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/1.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/1.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/14.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/14.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-exam">
                    <img src="assets/img/portfolio/41.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/41.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/18.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/18.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/19.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/19.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-exam">
                    <img src="assets/img/portfolio/42.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/42.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/33.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/33.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-exam">
                    <img src="assets/img/portfolio/43.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/43.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/34.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/34.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-prize">
                    <img src="assets/img/portfolio/31.jpeg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <a href="assets/img/portfolio/31.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->

            </div><!-- End Portfolio Container -->
            <div class="row">
                <div class="col-12 text-end mt-3">
                    <a asp-controller="Gallery" asp-action="Index" class="btn-get-started">View More...</a>
                </div>
            </div>
        </div>
    </div>

</section><!-- /Portfolio Section -->
<!-- Team Section -->
<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>
            We are dedicated and dynamic group responsible for ensuring the smooth and successful execution of quiz event.
            Comprised of experienced professionals, this team brings together diverse skills and expertise to create engaging and
            well-organized competition.
        </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/team/asad.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. Asad Ayyub</h4>
                        <span>President</span>
                        <p>Asad Ayyub qualified in M.Sc.(Zoology) & B.Ed. He has 3 years of teaching experience.</p>
                        <div class="social">
                            <a href="https://www.instagram.com/bold_asad_shaikh?igsh=c3dwMHljZ3kzdW4x" target="_blank"><i class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/share/romazXhH2fKvsDYP/?mibextid=qi2Omg" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/team/aksam.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. Aksam Saifi Jamal</h4>
                        <span>Vice President</span>
                        <p>Aksam Saifi Jamal qualified in M.Sc.(Botany) & B.Ed. He has 3 years of teaching experience.</p>
                        <div class="social">
                            <a href="https://www.facebook.com/aksam.saifi.1?mibextid=ZbWKwL" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/aksam_saifi_jamal?igsh=MTB2MnBhNTFnODFjaw==" target="_blank"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/team/ahmar.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. Mohd Ahmar</h4>
                        <span>Secretary </span>
                        <p>Mohd Ahmar qualified in M.Sc.(Chemistry). He has 3 years of teaching experience.</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member d-flex align-items-start">
                    <div class="pic"><img src="assets/img/team/wamique.jpeg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Mr. Mohd Wamique</h4>
                        <span>Gen. Secretary</span>
                        <p>Mohd Wamique qualified in M.Sc.(Botany). He has 3 years of teaching experience.</p>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</section><!-- /Team Section -->
<!-- Faq 2 Section -->
<section id="faq-2" class="faq-2 section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Here are some frequently asked questions.</p>
    </div><!-- End Section Title -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="faq-container">
                    <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                        <h3>When will quiz examination happen?</h3>
                        <div class="faq-content">
                            <p>The Allama Shibli Nomani Brainiac Battle will be held in November-2024.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Which class student can participate?</h3>
                        <div class="faq-content">
                            <p>Students from class 6th to 12th can participate in this quiz competition.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>What will be the medium of paper?</h3>
                        <div class="faq-content">
                            <p>It will be based on english medium (CBSE Pattern).</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>Will it be online or offline and place of examination?</h3>
                        <div class="faq-content">
                            <p>It is a Pen-Paper(OMR) based Exam. Examination will be held offline on 4-5 examination centres in Azamgarh, UP.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item" data-aos="fade-up" data-aos-delay="200">
                        <h3>How to participate in this examination?</h3>
                        <div class="faq-content">
                            <p>
                                You can fill registration form and send the registration fee using UPI and send us to the given mobile number on registration page.
                                Then after successful verification you can give exam at exam center organized by Our Team.
                            </p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                </div>

            </div>

        </div>

    </div>
</section><!-- /Faq 2 Section -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>You can contact us if you have any query.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-12">
                <div class="info-wrap">
                    <div class="row">
                        <div class="col-sm-4 mb-sm-0 mb-3">
                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h3>Address</h3>
                                    <p>Village and Post Kotila, District Azamgarh, UP, 276207</p>
                                </div>
                            </div><!-- End Info Item -->
                        </div>
                        <div class="col-sm-4 mb-sm-0 mb-3">
                            <div class="info-item d-flex">
                                <i class="bi bi-telephone flex-shrink-0"></i>
                                <div>
                                    <h3>Call Us</h3>
                                    <a href="tel:+91 9236408638">+91 9236408638</a>
                                    <a href="tel:+91 7408840781">+91 7408840781</a>
                                </div>
                            </div><!-- End Info Item -->
                        </div>
                        <div class="col-sm-4 mb-sm-0 mb-3">
                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h3>Email Us</h3>
                                    <p>asnbb.info@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- /Contact Section -->
